*{
  box-sizing: border-box;
  margin: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(65, 185, 131, 1) 0%, 
    rgba(0, 212, 255, 1) 100%
  );
}

#cardExterno{
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
  margin: auto 0;

}
.fila1{
  height: 150px;
  width: 150px;
  border-bottom: 2px solid;
}
.fila2{
  height: 150px;
  width: 150px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.fila3{
  height: 150px;
  width: 150px;
  border-top: 2px solid;
}
.coluna1{
  height: 150px;
  width: 150px;
  border-right: 2px solid;
}
.coluna2{
  height: 150px;
  width: 150px;
  border-right: 2px solid;
  border-left: 2px solid;
}
.coluna3{
  border-left: 2px solid;
}

.celula{
  background-size: contain;
}

.celula:hover{
  background-color: lightgreen;
}

#sJogadorDaVez{
  text-align: center;
}

#card{
  border: 2px solid black;
}